.ui-head{
	height: 70px;
	background-color: #018ceb;
}
.ui-head-title{
	margin-top: 5px;
	font-size: 13px;
	color: #ffffff;
}
.ui-head-txt-box{
	display: inline-block;
	width: 46px;
	height: 30px;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
	background-color: #0169b0;
}
.ui-head-txt{
	color: #ffffff;
	font-size: 13px;
}
.ui-head-text{
	color: #ffffff;
	font-size: 13px;
	margin-top: 5px;
}
.caret1{
	margin-top: -5px;
	margin-left: 5px;
}
.control{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 22px;
	margin-top: 5px;
	border: 0px;
	border-radius: 0px;
}
.ui-txt{
	margin-left: -5px;
	font-size: 12px;
}
.caret2{
	color: #afafaf;
}
.search{
	color: #9a9a9a;
	display: flex;
}
.ui-body{
	margin-top: 20px;
	display: flex;
	height: 228px;
}
.ui-left-box{ 
	width: 57.5%;
	margin-left: -0.3%;
	height: 225px;
	background-color: #666666;
	border: 1px solid #c0c0c0;
}
.ui-right-box{
	width: 100%;
	height: 227px;
	margin-left: 4%;
	background-color: #f4f4f4;
	border: 1px solid #c0c0c0;;
}
.text-title{
	margin-top: 30px;
}
.text-box{
	margin-top: 30px;
	width: 50%;
	height: 34px;
	border-radius: 3px;
	border: 1px solid #009cff;
	background-color: #009cff;
}
.text-border{
	margin-top: 30px;
	width: 80%;
	height: 80px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-top: 1px dashed #c0c0c0;
}
.text-border-box{
	width: 80%;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.text-border-box-item{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	height: ;
	justify-content: center;
}
.text-border-box-item-number{
	display:inline;
	color: #009cff;
}
.text-border-box-item-txt{
	margin-left: 2%;
	display:inline;
	color: #c0c0c0;
}
.position1{
	margin-top: 10px;
	margin-bottom: -10px;
}
.position2{
	margin-top: -10px;
}
.ui-line{
	height: 42px;
	line-height: 42px;
}
.body-title{
	margin-left: -3%;
	font-size: 16px;
}
.body-title1{
	font-size: 16px;
}
.ui-body1{
	justify-content: space-between;
	height: 2000px;
}
.ui-bottom-left{
	width: 60%;
    height: 1080px;
    margin-left: -1.5%;
}
.ui-bottom-right1{
    height: 220px;
    margin-bottom: 10px;
}
.ui-bottom-right2{
    height: 220px;
    margin-bottom: 10px;
}
.ui-bottom-right3{
    height: 220px;
}
.ui-bottom-left-top{
    width: 103%;
    height: 170px;
}
.ui-bottom-left-top-1{
    height: 170px;
    border: 1px solid #e2e2e2;
    word-wrap: break-word;
}
.ui-bottom-left-first{
    height: 50px;
    line-height: 60px;
}
.ui-bottom-left-sec{
    height: 85px;
    margin-left: 0px;
    margin-right: 0px;
}
.ui-bottom-txt1{
    margin-left: 14px;
    font-size: 14px;
}
.ui-bottom-txt2{
    font-size: 12px;
    color: #666666;
}
.ui-bottom-left-sub{
    margin-left: 0px;
}
.ui-bottom-txt3{
    font-size: 12px;
    color: #999999;
}
.ui-bottom-left-top-2{
    margin-left: 0px;
    height: 170px;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.ui-bottom-left-top-right{
    width: 88%;
    height: 90px;
    margin-top: 15px;
    background-color: #666666;
    border: 1px solid #c0c0c0;
}
.ui-bottom-txt4{
    font-size: 10px;
    margin-left: 0px;
}
.ui-bottom-left-sub2{
    margin-top: 10px;
    margin-left: 12px;
}
.ui-bottom-left-top-third{
    margin-left: 0px;
    margin-top: 0px;
}
.ui-bottom-left-top-sec{
    margin-left: 0px;
}
.ui-bottom-left-2{
    height: 170px;
    width: 103%;
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}
.ui-bottom-left-2-top{
    float: right;
    width: 100%;
    height: 105px;
}
.ui-bottom-left-2-box{
    width: 90%;
    height: 80px;
    margin-left: -5%;
    margin-top: 15px;
    background-color: #666666;
    border: 1px solid #c0c0c0;
}
.ui-bottom-left-2-ppt{
    height: 13px;
    width: 25px;
    background-color: #fa7538;
    border: thin solid #eb4613;
    border-radius: 2px;
    color: #fff;
    line-height: 13px;
    margin-left: -5%;
}
.ui-bottom-left-2-mid{
    float: right;
    width: 100%;
}
.ui-bottom-left-mid2{
    float: right;
    width: 100%;
}
.margin{
	margin-left: -5%;
}
.ui-bottom-left-sub{
    float: right;
    width: 100%;
}
.ui-bottom-left-2-left{
    height: 170px;
    border-right: 1px solid #e2e2e2;
}
.ui-bottom-left-3-left-top{
    height: 145px;
    float: right;
    width: 100%;
}
.ui-bottom-left-3-box{
    height: 130px;
    width: 80%;
    margin-top:15px;
    background-color: #666666;
    border: 1px solid #c0c0c0;
}
.ui-bottom-left-3{
    height: 235px;
    width: 103%;
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}
.ui-bottom-left-3-left-tit{
    float: right;
    width: 100%;
    height: 55px;
}
.ui-bottom-left-3-left-sub{
    float: right;
    width: 100%;
}
.ui-bottom-left-3-left{
    height: 235px;
    border-right: 1px solid #e2e2e2;
}
.ui-bottom-left-4-mid{
    float: right;
    width: 100%;
    height: 35px;
}
.glyphicon-play-circle{
    color: #fff;
    margin-top: 60px;
}
.ui-bottom-left-5{
    height: 177px;
    width: 103%;
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}
.ui-bottom-left-5-left{
    height: 177px;
}
.ui-bottom-left-5-left-box{
    height: 90px;
    width: 90%;
    float: right;
    margin-top: 15px;
    background-color: #666666;
    border: 1px solid #c0c0c0;
}
.ui-bottom-left-5-right-tit{
    height: 55px;
    line-height: 55px;
}
.ui-bottom-txt5{
    font-size: 14px;
}
.ui-bottom-left-5-right-cont{
    height: 80px;
    word-wrap: break-word;
    margin-right: 5px;
}
.ui-bottom-left-5-right-sub{
    height: 40px;
    line-height: 40px;
    margin-right:10px;
    float: right;
}
.ui-bottom-left-6{
    height: 140px;
    width: 103%;
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}
.ui-bottom-left-6-tit{
    height: 55px;
    float: right;
    width: 97%;
    line-height: 55px;
}
.ui-bottom-left-6-cont{
    word-wrap: break-word;
    height: 45px;
    float: right;
    width: 90%;
    margin-right: 20px;
}
.ui-bottom-left-6-sub{
    height: 30px;
    line-height: 36px;
    margin-right:20px;
    float: right;
}
.ui-bottom-right-item{
    height: 220px;
    width: 104%;
}
.ui-bottom-right-item3{
    height: 220px;
    width: 104%;
    border: 1px solid #e2e2e2;
}
.ui-bottom-right-item-1{
    height: 220px;
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
    border-bottom: 3px solid #0092f2;
    padding: 15px;
    position: relative;
    overflow: hidden;
}
.ui-bottom-right-item-pic{
    height: 90px;
    background-color: #666666;
    border: 1px solid #c1c1c1;
}
.ui-bottom-right-item-tit{
    font-weight: 600;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: -5px;
}
.ui-bottom-right-item-time{
    font-weight: 100;
    font-size: 12px;
    color: #757566;
    padding-bottom: 5px;
}
.ui-bottom-right-item-cont{
    padding-bottom: 10px;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.ui-bottom-right-left-tip{
    height: 10px;
    line-height: 10px;
}
.start-text{
    position: absolute;
    top: 15px;
    left: auto;
    right: -75px;
    width: 200px;
    height: 25px;
    text-align: center;
    display: block;
    overflow: hidden;
    line-height: 25px;
    font-size: 12px;
    font-weight: 600;
    color: #e4f4fd;
    background-color: #0092f2;
    transform: rotate(45deg);
}
.ui-bottom-right-item-3-head{
    height: 45px;
    width: 104%;
}
.ui-bottom-right-item-3-title{
    height: 45px;
    line-height: 45px;
}
.ui-bottom-right-word1{
    font-size: 16px;
    margin-left: 15px;
    font-weight: bold;
}
.ui-bottom-right-word2{
    font-size: 16px;
    font-weight: bold;
    color: #0092f2;
}
.bottom-right-item-3-right{
    height: 45px;
    line-height: 45px;
}
.glyphicon-menu-right{
    margin-top: 2px;
}
.ui-bottom-right-item-3-cont{
    height:145px;
    margin: 0 auto;
    width: 90%;
    border-top: 1px dashed #c1c1c1;
}
.ui-bottom-right-item-3-pic{
    height: 90px;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #666666;
    border: 1px solid #c1c1c1;
}
.ui-bottom-right-item-3-num{
    display: block;
    background-color: #191919;
    color: #d2d2d2;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    margin-top: 65px;
}