.ui-head{
	display: flex;
	align-items: center;
	background-color: #06c1ae;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #21897d;
	font-size: 16px;
	color: white;
}
.glyphicon-chevron-down{
	margin-left: -20px;
}
.form-control{
	border: 0px;
	height: 30px;
	background: #00A695;
	font-size: 16px;
	color: white;
}
.glyphicon-search{
	margin-right:10px;
}
.textcolor{
	font-size: 16px;
	color: #00dacd;
}
.header{
	display: flex;
	flex-direction: column;
}
.glyphicon-user{
	margin-top:30px;
}
.font{
	margin-top:-15px;
}
.ui-head-body{
	height: 180px;
	line-height: 90px;
	border-bottom: 1px solid #c0c0c0;
}
.circle-1{
	margin:auto;
	margin-top: 10px;
	margin-bottom: -30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.circle-2{
	margin:auto;
	margin-top: -20px;
	margin-bottom: -30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.circle1{
	background: #ff8905;
}
.circle2{
	background: #ff6640;
}
.circle3{
	background: #7089f6;
}
.circle4{
	background: #00cdf0;
}
.circle5{
	background: #ffbb53;
}
.text{
	font-size: 16px;
}
.blank{
	height: 10px;
	border-bottom: 1px solid #c0c0c0;
	background-color: #F1F0ED;
}
.ui-body{
	height: 160px;
	border-bottom: 1px solid #c0c0c0;
}
.rightborder{
	border-right: 1px solid #c0c0c0;
}
.bottomborder{
	border-bottom: 1px solid #c0c0c0;
}
.text1{
	font-size: 15px;
}
.text-color1{
	margin-bottom: 0px;
	font-weight: bold;
	color: #00a600;
}
.img{
	background-color: #666666;
	border: 1px solid #c0c0c0;
}
.img1{
	margin-top: -6px;
	margin-bottom: 5px;
	width: 85px;
	height:85px;
}
.ui-flex-box{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.text-color2{
	margin-bottom: 0px;
	font-weight: bold;
	color: #ff3f0d;
}
.img2{
	margin-top: -10px;
	margin-bottom: 10px;
	width: 60px;
	height: 60px;
}
.text-color3{
	margin-bottom: 0px;
	font-weight: bold;
	color: #f869b3;
}
.img3{
	width: 38px;
	height: 38px;
	margin-top: 5px;
	margin-left: 25px;
	margin-bottom: 10px;
}
.text-color4{
	margin-bottom: 0px;
	font-weight: bold;
	color: #ff8601;
}
.number{
	display: inline-block;
	text-align: center;
	width: 20px;
	height: 15px;
	font-size: 12px;
	line-height: 16px;
	color: #fbfbfb;
	background-color: #4b4b4b;
	border-radius: 3px;
}
.ui-body-body{
	height: 75px;
	border-bottom: 1px solid #c0c0c0;
}
.img4{
	margin-top: 5px;
	margin-bottom: 9px;
	width: 60px;
	height: 60px;
}
.ui-bottom{
	height: 40px;
	font-size: 17px;
	line-height: 40px;
}
.ui-bottom-body{
	display: flex;
	height: 100px;
	border-top: 1px solid #c0c0c0;
}
.image{
	position: relative;
	margin-top: 10px;
	overflow: hidden;
	width: 88px;
	height: 80px;
	background-color: #666666;
	border: 1px solid #c0c0c0;
}
.image-text{
	position: absolute;
	top: 20%;
	left: -30%;
	width: 100px;
	height: 20px;
	transform:rotate(-45deg);
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    background: #06c1ae;
    color: #ffffff;
}
.ui-bottom-body-item{
	margin-left: 10px;
	flex: 1;
}
.item-title{
	margin-top: 10px;
	font-size: 16px;
}
.item-text{
	font-size: 16px;
	color: #919191;
}
.item-price{
	display: inline-block;
	margin-top: 10px;
	font-size: 18px;
	color: #06c1ae;
}
.item-price:after{
	content: "元";
	font-size: 13px;
}
.item-discount{
	display: inline-block;
    width: 50px;
    text-align: center;
    border: 1px solid #ff9a00;
    border-radius: 4px;
    color: #ff9a00;
    font-size: 12px;
}
.item-sale{
	margin-top: 70px;
	font-size: 12px;
	color: #666666;
}
.item-price1{
	display: inline-block;
    font-size: 12px;
    color: #666666;
}
.rowcolor{
	background-color: #a0c5e8;
}
.ui-bottom-bottom{
	display: flex;
	height: 40px;
}
.ui-bottom-text{
	flex: 1;
	font-size:18px;
	line-height: 40px;
	align-items: center;
	color: #00b2cd;
} 
.ui-bottom-sign{
	display: flex;
	height: 40px;
    align-items: center;
    color: #00b2cd;
}